<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /review
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /review/index.php [L]
</IfModule>